#es-rc #es-garnier.es-garnier {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
}
#es-rc #es-garnier.es-garnier * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#es-rc #es-garnier.es-garnier p {
  margin: 0;
  padding: 0;
}
#es-rc #es-garnier.es-garnier sup {
  font-size: 0.6em;
}
#es-rc #es-garnier.es-garnier .es-uppercase {
  text-transform: uppercase;
}
#es-rc #es-garnier.es-garnier .es-bold {
  font-weight: 700;
}
#es-rc #es-garnier.es-garnier .es-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 25px 0 0;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  text-wrap: balance;
  color: #B33B18;
  margin-bottom: 8px;
}
#es-rc #es-garnier.es-garnier .es-subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0 0 25px;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  text-wrap: balance;
}
#es-rc #es-garnier.es-garnier .es-kv {
  color: #FFFFFF;
}
#es-rc #es-garnier.es-garnier .es-kv__wrapper {
  position: relative;
}
#es-rc #es-garnier.es-garnier .es-kv__desktop {
  display: none;
}
#es-rc #es-garnier.es-garnier .es-kv__mobile {
  display: block;
}
#es-rc #es-garnier.es-garnier .es-kv__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc #es-garnier.es-garnier .es-kv__new {
  background-color: #c53b1b;
  color: white;
  padding: 4px 12px;
  font-size: 10px;
  font-weight: bold;
}
#es-rc #es-garnier.es-garnier .es-kv__newline {
  position: absolute;
  top: 82%;
  left: 58%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
}
#es-rc #es-garnier.es-garnier .es-kv__line {
  width: 2px;
  height: 30px;
  background-color: #B33B18;
}
#es-rc #es-garnier.es-garnier .es-ba__wrapper {
  position: relative;
}
#es-rc #es-garnier.es-garnier .es-ba__desktop {
  display: none;
}
#es-rc #es-garnier.es-garnier .es-ba__mobile {
  display: block;
}
#es-rc #es-garnier.es-garnier .es-ba__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc #es-garnier.es-garnier .es-ba__ba {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 25px;
}
#es-rc #es-garnier.es-garnier .es-ba__text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
}
#es-rc #es-garnier.es-garnier .es-ba__before {
  width: 14%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  text-transform: uppercase;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 1%;
}
#es-rc #es-garnier.es-garnier .es-ba__after {
  width: 14%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  text-transform: uppercase;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 10%;
  right: 34%;
  text-align: center;
}
#es-rc #es-garnier.es-garnier .es-ingr__wrapper {
  position: relative;
}
#es-rc #es-garnier.es-garnier .es-ingr__desktop {
  display: none;
  margin-top: 4px;
}
#es-rc #es-garnier.es-garnier .es-ingr__mobile {
  display: block;
}
#es-rc #es-garnier.es-garnier .es-ingr__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc #es-garnier.es-garnier .es-ingr__text {
  width: 75%;
  background-color: #FFFFFF;
  opacity: 0.7;
  border: 2px solid #000000;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#es-rc #es-garnier.es-garnier .es-use {
  margin: -4px;
  padding: 0;
}
#es-rc #es-garnier.es-garnier .es-use__wrapper {
  position: relative;
}
#es-rc #es-garnier.es-garnier .es-use__desktop {
  display: none;
  margin-top: 4px;
}
#es-rc #es-garnier.es-garnier .es-use__mobile {
  display: block;
}
#es-rc #es-garnier.es-garnier .es-use__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc #es-garnier.es-garnier .es-use__texts {
  width: 55%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  position: absolute;
  top: 27%;
  left: 6%;
}
#es-rc #es-garnier.es-garnier .es-use__title {
  width: 90%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}
#es-rc #es-garnier.es-garnier .es-use__subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 16px;
  font-weight: 700;
}
#es-rc #es-garnier.es-garnier .es-use__text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 16px;
  font-weight: 400;
}
#es-rc #es-garnier.es-garnier .es-use__red {
  color: #B33B18;
}
#es-rc #es-garnier.es-garnier .es-use__photo {
  width: 81%;
  position: absolute;
  bottom: 0;
  right: -16%;
}
#es-rc #es-garnier.es-garnier .es-use__step {
  padding-bottom: 15px;
}
#es-rc #es-garnier.es-garnier .es-products {
  margin-bottom: 120px;
}
#es-rc #es-garnier.es-garnier .es-products .es-subtitle {
  margin-bottom: 30px;
}
#es-rc #es-garnier.es-garnier .es-products__wrapper {
  position: relative;
  margin-top: -120px;
}
#es-rc #es-garnier.es-garnier .es-products__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc #es-garnier.es-garnier .es-products__desktop {
  display: none;
}
#es-rc #es-garnier.es-garnier .es-products__new {
  display: none;
  background-color: #c53b1b;
  color: white;
  padding: 4px 12px;
  font-size: 10px;
  font-weight: bold;
}
#es-rc #es-garnier.es-garnier .es-products__newline {
  display: none;
  position: absolute;
  top: 15%;
  right: 4%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
}
#es-rc #es-garnier.es-garnier .es-products__mobile {
  display: block;
  margin-top: -100px;
}
#es-rc #es-garnier.es-garnier .es-products__desktopNames {
  display: none;
}
#es-rc #es-garnier.es-garnier .es-products__names {
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}
#es-rc #es-garnier.es-garnier .es-products__single-rectangle {
  width: 41px;
  height: 41px;
  background-color: #B33B18;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 7px;
}
#es-rc #es-garnier.es-garnier .es-products__single-rectangle:hover {
  opacity: 0.7;
}
#es-rc #es-garnier.es-garnier .es-products__single {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}
#es-rc #es-garnier.es-garnier .es-products__single-1 {
  left: 4%;
  bottom: -68px;
}
#es-rc #es-garnier.es-garnier .es-products__single-2 {
  left: 23%;
  bottom: -100px;
}
#es-rc #es-garnier.es-garnier .es-products__single-3 {
  left: 46%;
  bottom: -68px;
}
#es-rc #es-garnier.es-garnier .es-products__single-4 {
  left: 65%;
  bottom: -100px;
}
#es-rc #es-garnier.es-garnier .es-products__single-5 {
  left: 81%;
  bottom: -68px;
}
#es-rc #es-garnier.es-garnier .es-products__single-line-odd {
  width: 2px;
  height: 69px;
  background-color: #B33B18;
}
#es-rc #es-garnier.es-garnier .es-products__single-line-even {
  width: 2px;
  height: 100px;
  background-color: #B33B18;
}
#es-rc #es-garnier.es-garnier .es-products__single-text {
  color: #000000;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}
#es-rc #es-garnier.es-garnier .es-benefits-table {
  display: none;
  margin: 0 auto;
  background-color: #FFFFFF;
  width: 95%;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__header {
  background-color: #cdece2;
  color: #B33B18;
  font-weight: 700;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__grid {
  display: flex;
  gap: 4px;
  align-items: stretch;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__content {
  background-color: #e9fbf4;
  padding: 20px 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  min-height: 260px;
  margin-bottom: 10px;
  border-bottom: 1px solid #C8EEE1;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__content--first {
  border-left: 1px solid #C8EEE1;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__content--last {
  border-right: 1px solid #C8EEE1;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__text {
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
  margin: 0;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__highlight {
  font-weight: 800;
  display: block;
  margin-top: 4px;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__button {
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 5px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  transition: opacity 0.2s;
}
#es-rc #es-garnier.es-garnier .es-benefits-table__button:hover {
  opacity: 0.8;
}
#es-rc #es-garnier.es-garnier .es-cross {
  padding-top: 70px;
  margin: 0 0px 40px 0px;
}
#es-rc #es-garnier.es-garnier .es-cross__single-img {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}
#es-rc #es-garnier.es-garnier .es-cross__single-img:hover {
  scale: 1.05;
}
#es-rc #es-garnier.es-garnier .es-cross__single-text {
  text-transform: uppercase;
  color: #B33B18;
  font-weight: 700;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#es-rc #es-garnier.es-garnier .es-cross__single-text--4 {
  left: 62px;
}
#es-rc #es-garnier.es-garnier .es-cross__single-text--5 {
  text-align: center;
  left: 30px;
  top: 45%;
}
#es-rc #es-garnier.es-garnier .es-cross__single-table-wrapper {
  max-width: 327px;
  margin: 15px auto;
}
#es-rc #es-garnier.es-garnier .es-cross__single-table {
  border: 1px solid #B33B18;
  text-align: center;
}
#es-rc #es-garnier.es-garnier .es-cross__single-table-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #B33B18;
  padding: 5px 0;
}
#es-rc #es-garnier.es-garnier .es-cross__single-table-text {
  padding: 20px 30px;
}
#es-rc #es-garnier.es-garnier .es-cross__single-link {
  display: block;
  background-color: #B4F1CF;
  border: 2px solid #B4F1CF;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  margin-top: 15px;
  margin-bottom: 40px;
}
#es-rc #es-garnier.es-garnier .es-cross__single-link:hover, #es-rc #es-garnier.es-garnier .es-cross__single-link:focus {
  background-color: #FFFFFF;
  border: 2px solid #B4F1CF;
}
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1 {
  height: -moz-fit-content;
  height: fit-content;
}
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1 .swiper-button-prev,
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1 .swiper-button-next {
  color: #B33B18;
  width: 26px;
  height: 26px;
  top: 24%;
}
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1 .swiper-button-prev {
  left: -7px;
}
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1 .swiper-button-next {
  right: -5px;
}
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1 .swiper-button-prev::after,
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1 .swiper-button-next::after {
  font-size: 25px;
  font-weight: 700;
}
#es-rc #es-garnier.es-garnier .es-cross .swiper-button-disabled {
  display: none;
}
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1-pagination {
  bottom: 0;
}
#es-rc #es-garnier.es-garnier .es-cross .es-swiper1-pagination .swiper-pagination-bullet {
  background-color: #B33B18;
}
#es-rc #es-garnier.es-garnier .es-footer__wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#es-rc #es-garnier.es-garnier .es-footer__text {
  font-size: 11px;
  color: #000000;
  padding: 30px 10px;
  width: 100%;
  line-height: 1.5;
  text-align: center;
}
#es-rc #es-garnier.es-garnier .es-footer__logoCtn {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 300px;
  padding: 20px;
}
#es-rc #es-garnier.es-garnier .es-footer__signs {
  margin-top: 20px;
  background: rgb(18, 88, 40);
  background: linear-gradient(90deg, rgb(18, 88, 40) 0%, rgb(19, 111, 50) 20%, rgb(19, 116, 52) 50%, rgb(19, 112, 51) 80%, rgb(18, 91, 41) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  padding: 32px;
}
#es-rc #es-garnier.es-garnier .es-footer__img {
  max-width: 200px;
}
@media (max-width: 390px) {
  #es-rc #es-garnier.es-garnier .es-products__single-text {
    font-size: 14px;
  }
  #es-rc #es-garnier.es-garnier .es-cross__single-img {
    padding: 0 20px;
  }
}
@media (min-width: 400px) {
  #es-rc #es-garnier.es-garnier .es-use__texts {
    width: 55%;
    top: 27%;
    left: 6%;
  }
  #es-rc #es-garnier.es-garnier .es-use__title {
    font-size: 25px;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
  #es-rc #es-garnier.es-garnier .es-use__subtitle {
    font-size: 18px;
  }
  #es-rc #es-garnier.es-garnier .es-use__text {
    font-size: 18px;
  }
}
@media (min-width: 500px) {
  #es-rc #es-garnier.es-garnier .es-use__texts {
    width: 55%;
    top: 30%;
    left: 6%;
  }
  #es-rc #es-garnier.es-garnier .es-use__title {
    font-size: 30px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  #es-rc #es-garnier.es-garnier .es-use__subtitle {
    font-size: 20px;
  }
  #es-rc #es-garnier.es-garnier .es-use__text {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  #es-rc #es-garnier.es-garnier .es-kv__desktop {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-kv__mobile {
    display: none;
  }
  #es-rc #es-garnier.es-garnier .es-kv__newline {
    top: 79%;
    left: 60%;
  }
  #es-rc #es-garnier.es-garnier .es-ba__desktop {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-ba__mobile {
    display: none;
  }
  #es-rc #es-garnier.es-garnier .es-ingr__desktop {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-ingr__mobile {
    display: none;
  }
  #es-rc #es-garnier.es-garnier .es-use__desktop {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-use__mobile {
    display: none;
  }
  #es-rc #es-garnier.es-garnier .es-use__texts {
    width: 55%;
    top: 33%;
    left: 6%;
  }
  #es-rc #es-garnier.es-garnier .es-use__title {
    width: 55%;
    font-size: 25px;
    text-align: left;
    top: 6%;
    left: 6%;
    transform: unset;
  }
  #es-rc #es-garnier.es-garnier .es-use__subtitle {
    font-size: 16px;
  }
  #es-rc #es-garnier.es-garnier .es-use__text {
    font-size: 16px;
  }
  #es-rc #es-garnier.es-garnier .es-use__photo {
    width: 50%;
    bottom: 0;
    right: -1%;
  }
  #es-rc #es-garnier.es-garnier .es-products {
    margin-bottom: 20px;
  }
  #es-rc #es-garnier.es-garnier .es-products__newline {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-products__new {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-products__desktop {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-products__mobile {
    display: none;
  }
  #es-rc #es-garnier.es-garnier .es-products__wrapper {
    margin-top: 0;
  }
  #es-rc #es-garnier.es-garnier .es-products__desktopNames {
    padding-left: 2%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 3%;
    width: 95%;
  }
  #es-rc #es-garnier.es-garnier .es-products__desktopNames--text {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #B33B18;
    font-weight: 700;
    font-size: 16px;
  }
  #es-rc #es-garnier.es-garnier .es-products__names {
    display: none;
  }
  #es-rc #es-garnier.es-garnier .es-benefits-table {
    display: block;
  }
  #es-rc #es-garnier.es-garnier .es-cross {
    display: none;
  }
}
@media (min-width: 638px) {
  #es-rc #es-garnier.es-garnier .es-title {
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
  }
  #es-rc #es-garnier.es-garnier .es-subtitle {
    font-size: 35px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-garnier.es-garnier .es-kv__newline {
    top: 84%;
    left: 60%;
  }
  #es-rc #es-garnier.es-garnier .es-ba__before {
    padding: 15px;
    font-size: 20px;
  }
  #es-rc #es-garnier.es-garnier .es-ba__after {
    padding: 15px;
    font-size: 20px;
  }
  #es-rc #es-garnier.es-garnier .es-use__texts {
    width: 65%;
    top: 38%;
    left: 6%;
  }
  #es-rc #es-garnier.es-garnier .es-use__title {
    width: 65%;
    font-size: 30px;
    text-align: left;
    top: 6%;
    left: 6%;
    transform: unset;
  }
  #es-rc #es-garnier.es-garnier .es-use__subtitle {
    font-size: 20px;
  }
  #es-rc #es-garnier.es-garnier .es-use__text {
    font-size: 20px;
  }
  #es-rc #es-garnier.es-garnier .es-use__photo {
    width: 50%;
    bottom: 0;
    right: -1%;
  }
  #es-rc #es-garnier.es-garnier .es-use__step {
    padding-bottom: 25px;
  }
  #es-rc #es-garnier.es-garnier .es-products__new {
    font-size: 14px;
  }
  #es-rc #es-garnier.es-garnier .es-products__single-1 {
    left: 27%;
  }
  #es-rc #es-garnier.es-garnier .es-products__single-2 {
    left: 40%;
  }
  #es-rc #es-garnier.es-garnier .es-products__single-3 {
    left: 56%;
  }
  #es-rc #es-garnier.es-garnier .es-products__single-4 {
    left: 66%;
  }
}