@charset "UTF-8";
$black: #000000;
$white: #FFFFFF;
$green: #B4F1CF;
$green-border: #C8EEE1;
$red: #B33B18;
$es-mint-light: #e9fbf4; 
$es-mint-header: #cdece2;


#es-rc #es-garnier.es-garnier {
    font-family: "Montserrat", sans-serif;
    color: $black;
    max-width: 990px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;

    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    p {
        margin: 0;
        padding: 0;
    }

    sup {
        font-size: 0.6em;
    }
    @mixin text {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    }

    @mixin img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    .es-uppercase {
        text-transform: uppercase;
    }

    .es-bold {
        font-weight: 700;
    }

    .es-title {
      @include text;
      padding: 25px 0 0;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      text-wrap: balance;
      color: $red;
      margin-bottom: 8px;
    }

    .es-subtitle {
      @include text;
      padding: 0 0 25px;
      font-size: 25px;
      line-height: 1;
      text-align: center;
      text-wrap: balance;
    }

    .es-kv {
        color: $white;
        &__wrapper {
          position: relative;
        }
        &__desktop {
          display: none;
        }
        &__mobile {
          display: block;
        }
        &__img {
          @include img;
        }
        &__new {
          background-color: #c53b1b;
          color: white;
          padding: 4px 12px;
          font-size: 10px; 
          font-weight: bold;
        }
        &__newline{
          position: absolute;
          top: 82%;
          left: 58%;
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: left;
        }
        &__line {
            width: 2px;
            height: 30px;
            background-color: $red;
        }

    }

    .es-ba {
      &__wrapper {
        position: relative;
      }
      &__desktop {
        display: none;
      }
      &__mobile {
        display: block;
      }
      &__img {
        @include img;
      }
      &__ba {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 20px 25px;
      }
      &__text {
        @include text;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
      }
      &__before {
        width: 14%;
        @include text;
        background-color: #FFFFFF;
        border: 2px solid #000000;
        text-transform: uppercase;
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 1%;
      }
      &__after {
        width: 14%;
        @include text;
        background-color: #FFFFFF;
        border: 2px solid #000000;
        text-transform: uppercase;
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        top: 10%;
        right: 34%;
        text-align: center;
      }
    }

    .es-ingr {
      &__wrapper {
        position: relative;
      }
      &__desktop {
        display: none;
        margin-top: 4px;
      }
      &__mobile {
        display: block;
      }
      &__img {
        @include img;
      }
      &__text {
        width: 75%;
        background-color: #FFFFFF;
        opacity: 0.7;
        border: 2px solid #000000;
        @include text;
        padding: 20px;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }    
    .es-use {
      margin: -4px;
      padding: 0;
      &__wrapper {
        position: relative;
      }
      &__desktop {
        display: none;
        margin-top: 4px;
      }
      &__mobile {
        display: block;
      }
      &__img {
        @include img;
      }
      &__texts {
        width: 55%;
        @include text;
        position: absolute;
        top: 27%;
        left: 6%;
      }
      &__title {
        width: 90%;
        @include text;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
      }
      &__subtitle {
        @include text;
        font-size: 16px;
        font-weight: 700;
      }
      &__text {
        @include text;
        font-size: 16px;
        font-weight: 400
      }
      &__red {
        color: $red;
      }
      &__photo {
        width: 81%;
        position: absolute;
        bottom: 0;
        right: -16%;
      } 
      &__step {
        padding-bottom: 15px;
      }           
    }   
    .es-products {
        margin-bottom: 120px;
        .es-subtitle {
            margin-bottom: 30px;
        }
        &__wrapper {
            position: relative;
            margin-top: -120px;
        }
        &__img {
          @include img;
        }
        &__desktop {
          display: none;
        }
        &__new {
          display: none;
          background-color: #c53b1b;
          color: white;
          padding: 4px 12px;
          font-size: 10px; 
          font-weight: bold;
        }
        &__newline {
          display: none;
          position: absolute;
          top: 15%;
          right: 4%;
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: left;
        }
        &__mobile {
          display: block;
          margin-top: -100px;
        }
        &__desktopNames {
          display: none;
        }
        &__names {
            background-color: $white;
            display: flex;
            justify-content: flex-end;
        }
        &__single-rectangle {
            width: 41px;
            height: 41px;
            background-color: $red;
            color: $white;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            padding: 7px;

            &:hover {
                opacity: 0.7;
            }
        }
        &__single {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
        }

        &__single-1 {
            left: 4%;
            bottom: -68px;
        }
        &__single-2 {
            left: 23%;
            bottom: -100px;
        }
        &__single-3 {
            left: 46%;
            bottom: -68px;
        }
        &__single-4 {
            left: 65%;
            bottom: -100px;
        }
        &__single-5 {
            left: 81%;
            bottom: -68px;
        }

        &__single-line-odd {
            width: 2px;
            height: 69px;
            background-color: $red;
        }
        &__single-line-even {
            width: 2px;
            height: 100px;
            background-color: $red;
        }

        &__single-text {
            color: $black;
            font-weight: 700;
            text-align: center;
            line-height: 1.5;
        }
    }

    .es-benefits-table {
      display: none;
      margin: 0 auto;
      background-color: $white; 
      width: 95%;

      &__header {
        background-color: $es-mint-header;
        color: $red;
        font-weight: 700;
        padding: 12px;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
      }

      &__grid {
        display: flex;
        gap: 4px;
        align-items: stretch;
      }

      &__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
      }

      &__content {
        background-color: $es-mint-light;
        padding: 20px 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        text-align: center;
        min-height: 260px;
        margin-bottom: 10px; 
        border-bottom: 1px solid $green-border;
        &--first {
          border-left: 1px solid $green-border;
        }
        &--last {
          border-right: 1px solid $green-border;
        }
      }

      &__text {
        font-size: 14px;
        line-height: 1.4;
        color: $black;
        margin: 0;
      }

      &__highlight {
        font-weight: 800;
        display: block; 
        margin-top: 4px;
      }

      &__button {
        background-color: $black;
        color: $white;
        text-decoration: none;
        padding: 15px 5px;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .es-cross {
        padding-top: 70px;
        margin: 0 0px 40px 0px;

        &__single-img {
            position: relative;
            width: fit-content;
            margin: 0 auto;
            transition: all 200ms ease-in-out;

            &:hover {
                scale: 1.05;
            }
        }

        &__single-text {
            text-transform: uppercase;
            color: $red;
            font-weight: 700;
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            &--4 {
              left: 62px;
            }
            &--5 {
              text-align: center;
              left: 30px;
              top:45%
            }
        }

        &__single-table-wrapper {
            max-width: 327px;
            margin: 15px auto;
        }

        &__single-table {
            border: 1px solid $red;
            text-align: center;
        }

        &__single-table-title {
            text-transform: uppercase;
            font-weight: 700;
            color: $white;
            background-color: $red;
            padding: 5px 0;
        }

        &__single-table-text {
            padding: 20px 30px;
        }

        &__single-link {
            display: block;
            background-color: $green;
            border: 2px solid $green;
            color: $black;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 10px 0;
            margin-top: 15px;
            margin-bottom: 40px;

            &:hover,
            &:focus {

                background-color: $white;
                border: 2px solid $green;
            }
        }

        .es-swiper1 {
            height: fit-content;


            .swiper-button-prev,
            .swiper-button-next {
                color: $red;
                width: 26px;
                height: 26px;
                top: 24%;
            }

            .swiper-button-prev {
                left: -7px;
            }

            .swiper-button-next {
                right: -5px;
            }


            .swiper-button-prev::after,
            .swiper-button-next::after {
                font-size: 25px;
                font-weight: 700;
            }
        }

        .swiper-button-disabled {
            display: none;
        }

        .es-swiper1-pagination {
            bottom: 0;
        }

        .es-swiper1-pagination .swiper-pagination-bullet {
            background-color: $red;
        }
    }

    .es-footer {
      &__wrapper {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
        &__text {
            font-size: 11px;
            color: $black;
            padding: 30px 10px;
            width: 100%;
            line-height: 1.5;
            text-align: center;
        }

        &__logoCtn {
          @include img;
          width: 300px;
          padding: 20px;          
        }

        &__signs {
          margin-top: 20px;
          background: rgb(18, 88, 40);
          background: linear-gradient(90deg, rgb(18, 88, 40) 0%, rgb(19, 111, 50) 20%, rgb(19, 116, 52) 50%, rgb(19, 112, 51) 80%, rgb(18, 91, 41) 100%);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          gap: 32px;
          padding: 32px;
        }

        &__img {
            max-width: 200px;
        }
    }

    @media (max-width: 390px) {
        .es-products__single-text {
            font-size: 14px;
        }
        .es-cross__single-img {
            padding: 0 20px;
        }
    }
    @media (min-width: 400px) {
      .es-use {
        &__texts {
          width: 55%;
          top: 27%;
          left: 6%;
        }
        &__title {
          font-size: 25px;
          top: 3%;
          left: 50%;
          transform: translateX(-50%);
        }
        &__subtitle {
          font-size: 18px;
        }
        &__text {
          font-size: 18px;
        }
      }
    }
    @media (min-width: 500px) {
      .es-use {
        &__texts {
          width: 55%;
          top: 30%;
          left: 6%;
        }
        &__title {
          font-size: 30px;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
        }
        &__subtitle {
          font-size: 20px;
        }
        &__text {
          font-size: 20px;
        }
      }
    }

    @media (min-width: 600px) {
      .es-kv {
        &__desktop {
          display: block;
        }
        &__mobile {
          display: none;
        }
        &__newline{
          top: 79%;
          left: 60%;
        }
      }
      .es-ba {
        &__desktop {
          display: block;
        }
        &__mobile {
          display: none;
        }
      }
      .es-ingr {
        &__desktop {
          display: block;
        }
        &__mobile {
          display: none;
        }
      }
      .es-use {
        &__desktop {
          display: block;
        }
        &__mobile {
          display: none;
        }
        &__texts {
          width: 55%;
          top: 33%;
          left: 6%;
        }
        &__title {
          width: 55%;
          font-size: 25px;
          text-align: left;
          top: 6%;
          left: 6%;
          transform: unset;
        }
        &__subtitle {
          font-size: 16px;
        }
        &__text {
          font-size: 16px;
        }
        &__photo {
          width: 50%;
          bottom: 0;
          right: -1%;
        } 
      }         
      .es-products {
        margin-bottom: 20px;
        &__newline {
          display: block;
        }
        &__new {
          display: block;
        }
        &__desktop {
          display: block;
        }
        &__mobile {
          display: none;
        }
        &__wrapper {
          margin-top: 0;
        }
        &__desktopNames {
          padding-left: 2%;
          display: flex;
          justify-content: space-around;
          position: absolute;
          bottom: 3%;
          width: 95%;
          &--text {
            @include text;
            color: $red;
            font-weight: 700;
            font-size: 16px;
          }
        }
          &__names {
            display: none;
          }
          // &__single-rectangle {
          //     width: 45px;
          //     height: 45px;
          //     font-size: 20px;
          //     padding: 10px;
          // }

          // &__single-1 {
          //     left: 18%;
          // }

          // &__single-2 {
          //     left: 35%;
          // }

          // &__single-3 {
          //     left: 52%;
          // }

          // &__single-4 {
          //     left: 75%;
          //     bottom: -115px;
          // }

          // &__single-line {
          //     width: 2px;
          //     height: 89px;
          // }
      }
      .es-benefits-table {
        display: block;
      }
      .es-cross {
        display: none;
      }
    }

    @media (min-width: 638px) {
        .es-title {
            font-size: 35px;
            line-height: 1.3;
            text-align: center;
        }

        .es-subtitle {
            font-size: 35px;
        }
    }

    @media (min-width: 768px) {
      .es-kv {
        &__newline{
          top: 84%;
          left: 60%;
        }
      }
      .es-ba {
        &__before {
          padding: 15px;
          font-size: 20px;
        }
        &__after {
          padding: 15px;
          font-size: 20px;
        }
      }
      .es-use {
        &__texts {
          width: 65%;
          top: 38%;
          left: 6%;
        }
        &__title {
          width: 65%;
          font-size: 30px;
          text-align: left;
          top: 6%;
          left: 6%;
          transform: unset;
        }
        &__subtitle {
          font-size: 20px;
        }
        &__text {
          font-size: 20px;
        }
        &__photo {
          width: 50%;
          bottom: 0;
          right: -1%;
        } 
        &__step {
          padding-bottom: 25px;
        }
      }           
      .es-products {
          &__new {
            font-size: 14px;
          }
          &__single-1 {
              left: 27%;
          }

          &__single-2 {
              left: 40%;
          }

          &__single-3 {
              left: 56%;
          }

          &__single-4 {
              left: 66%;
          }
      }
    }
}